[submodule "src/lib/simdjson"]
	path = src/lib/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest
[submodule "src/lib/libpqxx"]
	path = src/lib/libpqxx
	url = https://github.com/jtv/libpqxx.git
